server:
  port: ${SERVER_PORT:8081}
  servlet:
    context-path: /
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never

spring:
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
  jackson:
    default-property-inclusion: non_null
    serialization:
      indent-output: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

springdoc:
  swagger-ui:
    operationsSorter: method

facebook:
  wa:
    secret: ${WA_SECRET}
    verification-token: ${WA_VERIFICATION_TOKEN}
  graph:
    base-url: ${FACEBOOK_GRAPH_BASE_URL:https://graph.facebook.com}
    version: ${FACEBOOK_GRAPH_VERSION:v13.0}
    app-id: ${FACEBOOK_APP_ID:}
    auth-token: ${FACEBOOK_GRAPH_AUTH_TOKEN:}

feign:
  okhttp:
    enabled: true
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

http:
  wa-writer:
    url: ${WA_WRITER_URL:http://localhost:8089/wa-writer}
  game-service:
    url: ${GAME_SERVICE_URL:http://localhost:8090/game}




