server:
  port: ${SERVER_PORT:5000}
  servlet:
    context-path: /
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never

spring:
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
  jackson:
    default-property-inclusion: non_null
    serialization:
      indent-output: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

springdoc:
  swagger-ui:
    operationsSorter: method

facebook:
  wa:
    secret: ${WA_SECRET}
    verification-token: ${WA_VERIFICATION_TOKEN}

feign:
  okhttp:
    enabled: true
  client:
    config:
      default:
        connectTimeout: ${FEIGN_CONNECTION_TIMEOUT:5000}
        readTimeout: ${FEIGN_READ_TIMEOUT:5000}
        loggerLevel: ${FEIGN_LOG_LEVEL:basic}

http:
  wa-writer:
    url: ${WA_WRITER_URL}
  game-service:
    url: ${GAME_SERVICE_URL}




